.add-property {
  .add-property-dropdown {
    font-size: 13px;
    line-height: 24px;
    background: var(--darkBlue);
    border: 0;
    border-radius: 10px;
    min-width: 200px;
    color: var(--aliceBlue);
    padding: 10px 10px;
    margin-top: 3rem;
  }

  .details-container {
    height: 60vh;
  }

  .not-allowed {
    pointer-events: none;
    opacity: 0.5;
  } 

  .seller-details {
    width: 40%;
    float: left;
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    color: var(--darkBlue);
    font-size: 18px;
    font-weight: 400;

    h4 {
      font-weight: 700;
      font-size: 1.8rem;
    }

    button {
      background-color: var(--darkBlue);
      border: 0;
      border-radius: 8px;
      color: var(--white);
      padding: 5px 24px;
      font-size: 1.1rem;
      font-weight: 400;
      text-transform: capitalize;
      cursor: pointer;
    }
  }

  .buyer-details {
    width: 57%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    gap: 18%;
    color: var(--darkBlue);
    font-size: 18px;
    font-weight: 400;

    h4 {
      font-weight: 700;
      font-size: 1.8rem;
    }

    button {
      background-color: var(--darkBlue);
      border: 0;
      border-radius: 8px;
      color: var(--white);
      padding: 5px 24px;
      font-size: 1.1rem;
      text-transform: capitalize;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .other-details-dropdown {
    background: var(--aliceBlue);
    border-radius: 10px;
    min-width: 75%;
    color: var(--darkBlack);
    padding: 10px 10px;
    border: 2px solid var(--frenchBlue);
    margin-top: 2rem;
    // margin-left: 22%;
    font-size: 14px;
    font-weight: 400;

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        color: var(--darkBlue);
        font-weight: 700;
      }
    }

    summary::marker {
      content: "";
    }

    .description {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 1.1rem;
        display: inline-block;
      }

      div {
        width: 50%;
      }
    }
  }

  .property-doc {
    color: var(--darkBlue);
    margin-top: 1.5rem;
    font-size: 18px;
    font-weight: 400;

    h4 {
      font-size: 1.7rem;
      font-weight: 600;
    }
  }

 
  .add-property-container{
    position: relative;
    .add-plus-area {
      border: 3px solid var(--frenchBlue);
      border-radius: 10px;
      background-color: var(--aliceBlue);
      width: 79%;
      // height: 42%;
      margin-top: 32px;
  
      .left {
        width: 45%;
        float: left;
        padding-left: 0.9rem;
        margin: 0.5rem;
  
        h4 {
          margin-top: -2rem;
          color: var(--darkBlue);
  
        }
  
        h3 {
          font-size: 1.1rem;
          display: inline-block;
        }
  
        hr {
          width: 219%;
        }
      }
  
      .right {
        width: 45%;
        float: right;
        margin-top: 4.6rem;
        h3{
          font-size: 1.1rem;
          display: inline-block;
          margin-bottom: 1rem;
        }
  
        .address {
          margin: 2.3rem 0 5.2rem 0;
        }
      }
  
      p {
        color: var(--cyanBlue);
        padding-left: 1rem;
      }
  
      li {
        list-style: none;
        margin: 1.3rem;
        font-size: 14px;
        font-weight: 400;
      }
  
      ul {
        font-size: 14px;
        font-weight: 400;
      }
  
      .editIcon {
        margin-top: 0.6rem;
        margin-left: 96.3%;
        width: 1.7rem !important;
        cursor: pointer;
      }
    }
    .add-property-img {
      width: 28%;
      margin-right: 2%;
      margin-top: 3%;
      .loader{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      .property-image{
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        img{
          width: 100%;
          border-radius: 5px;
        }
      }
      .overlay{
        position: relative;
        .overlay-box{
          position: absolute;
          cursor: pointer;
          font-size: 20px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: black;
          opacity: 0.4;
          color: white;
          border-radius: 5px;
        }
      }
      .add-image{
        display: flex;
        align-items: center;
        justify-content: center;
        .add-icon{
          cursor: pointer;
        }
      }
    }
    
  }
  .label{
    margin-bottom: 0;
  }
  .image-show{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 79;
    .image-section{
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .image{
        height: 600px;
        min-width: 100%;
        border-radius: 10px;
      }
      .left-arrow{
        position: absolute;
        top: 50%;
        left: 32px;
        z-index: 99;
        cursor: pointer;
      }
      .right-arrow{
        position: absolute;
        top: 50%;
        right: 32px;
        z-index: 99;
        cursor: pointer;
      }
      .close-icon{
        position: absolute;
        top: 0%;
        right: 32px;
        z-index: 99;
        cursor: pointer;
      }
      .slide{
        opacity: 0;
        transition: 1s ease;
      }
      .active{
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
      }
    }
  }

  


  .add-property-box {
    display: flex;
  }

  .template-addProp {
    flex-wrap: wrap;
    gap: 3.5rem;
    margin-left: 1rem;
    box-sizing: content-box;

    .template-items {
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 20rem;
      margin-bottom: 36px;
      background: var(--tropicalBlue);
      border: 2px solid var(--frenchBlue);
      border-radius: 10px;

      &.active {
        background: var(--frenchBlue);
      }

      img {
        width: 60%;
        margin: 3px auto;
      }

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        padding-top: 1.5rem;
        text-align: center;
      }
    }

    .plus-template {
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 20rem;
      margin-bottom: 36px;
      background: var(--tropicalBlue);
      border: 2px solid var(--frenchBlue);
      border-radius: 10px;

      .plus {
        width: 30%;
      }
    }
  }

  .users-details-left {
    width: 41%;
    float: left;
    margin-top: -21rem;
    overflow-y: scroll;
    height: 44vh;

    .userslist {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 0rem;
      grid-row-gap: 3rem;

      .ellipse {
        height: 7rem;
        width: 7rem;
        background-color: var(--white);
        border-radius: 50%;
        margin-top: 3rem;

        img {
          padding-left: 27%;
          padding-top: 25%;
        }

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 3rem;
          font-size: 14.5px;
        }
      }
    }
  }

  .users-details-right {
    width: 53%;
    float: right;
    margin-top: -21rem;
    overflow-y: scroll;
    height: 44vh;

    .userslist {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 3rem;

      .marquee {
        overflow: hidden;
        white-space: nowrap;
      }
      
      .marquee p {
        display: inline-block;
        animation: marquee 10s linear infinite;
      }
      
      @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
      
        100% {
          transform: translateX(-100%);
        }
      }
      
      .ellipse {
        height: 7rem;
        width: 7rem;
        background-color: var(--white);
        border-radius: 50%;
        margin-top: 3rem;

        img {
          padding-left: 27%;
          padding-top: 25%;
        }

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 2.8rem;
          font-size: 14.5px;
        }
      }
    }
  }

  .history-box {
    border: 3px solid var(--frenchBlue);
    border-radius: 10px;
    background-color: var(--white);
    width: 98.5%;
    height: 22vh;
    margin-top: 32px;
    margin-bottom: 3rem;
    overflow-y: scroll;

    button {
      background-color: var(--darkBlue);
      border: 0;
      color: var(--white);
      border-radius: 8px;
      padding: 7px 30px;
      font-size: 14px;
      font-weight: 400;
      margin-left: 88%;
      margin-top: 9.8%;
    }
  }
}

.view-property-box {
  width: 100%;
  display: flex;
  flex-direction: row;

  .editIconSuperadmin {
    margin-top: 0.6rem;
    margin-left: 96.9%;
    width: 1.8rem !important;
    cursor: pointer;
  }
}

.action-button-area {
  border: 3px solid var(--frenchBlue);
  border-radius: 10px;
  background-color: var(--linkWater);
  height: 10rem;
  margin-top: 32px;
  width: 20%;
  margin-left: 1%;
  text-align: center;

  p {
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 4.2rem;
  }
}

.view-plus-area {
  border: 3px solid var(--frenchBlue);
  border-radius: 10px;
  background-color: var(--aliceBlue);
  width: 79%;
  height: 13rem;
  margin-top: 32px;

  p {
    color: var(--cyanBlue);
    padding-left: 1rem;
  }

  li {
    list-style: none;
    margin: 1.3rem;
    font-size: 14px;
    font-weight: 400;
  }

  ul {
    font-size: 14px;
    font-weight: 400;
  }

  .view-left {
    width: 30%;
    float: left;
    padding-left: 0.2rem;
    margin-top: 1rem;
    color: var(--darkBlue);
    margin-left: 2rem;
    h4{
      margin-left: -1rem;
      margin-bottom: 0.8rem;
    }

    h3 {
      font-size: 1.1rem;
      display: inline-block;
      color: var(--lightGrey);
    }
  }

  .view-right {
    width: 65%;
    float: right;
    margin-top: 3.4rem;

    h3 {
      font-size: 1.1rem;
      display: inline-block;
      color: var(--lightGrey);
    }
  }

  .token-right {
    width: 28%;
    float: right;
    margin-left: 12rem;
    margin-top: -5.4rem;

    h3 {
      font-size: 1.1rem;
      display: inline-block;
      color: var(--lightGrey);
    }
  }
}

.view-plus-area.extended {
  width: 100%;
}

.templateItems {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  margin-bottom: 3rem;
  padding-top: 3.5rem;
  background: var(--tropicalBlue);
  border: 2px solid var(--frenchBlue);
  border-radius: 10px;

  h4 {
    font-size: 1.2rem;
    margin-top: 1.45rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;

  }

  h2 {
    font-size: 1.2rem;
    margin-top: 3rem;
  }

  h5 {
    font-size: 1.2rem;
    margin-top: 1.65rem;
  }

  &.active {
    background: var(--frenchBlue);
  }

  img {
    width: 50%;
  }
}

.manage-area {
  margin-top: 55px;
  border-radius: 10px;
  margin-bottom: 29px;
  position: relative;
  padding-top: 3rem;
  width: 100%;
  min-height: 740px;

  .manage-btn-wrapper {
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 1px;

    .manage-btn-img {
      position: absolute;
      top: -15px;
    }
  }

  .adding-property {
    border: 3px solid var(--frenchBlue);
    border-radius: 10px;
    background-color: var(--white);
    width: 100%;
    height: 154px;
    padding-top: 0.8rem;
    margin-top: 1rem;

    .manage-image {
      width: 151px;
      height: 124px;
      border-radius: 10px;
    }

    .manage-row {
      margin-top: -15rem;
      margin-left: 11.5rem;
      font-size: 16px;
      font-weight: 400;

      .currentStatus {
        padding-top: 0.5rem;
      }

      .listedDate {
        padding-top: 0.5rem;
      }
    }

    .fieldsContainer {
      font-family: Nunito;
      font-size: 17px;
    }
  }

  .current {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    bottom: 51%;
    left: 28rem;
    gap: 9rem;

    button {
      background-color: var(--darkBlue);
      border: 0;
      color: var(--white);
      border-radius: 8px;
      padding: 7px 30px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24.55px;
      padding-top: 0.8rem;
    }
  }


}

.btn-view-property {
  background-color: transparent;
  border: 0;
  color: var(--darkBlue);
  font-size: 14px;
  font-family: Nunito;
  font-weight: 400;
  cursor: pointer;
  width: 72%;
  margin-left: 3rem;
  margin-top: 1rem;
}

.arrrowRightIcon {
  padding-left: 0.3rem
}

button:focus {
  outline: none;
}

.mPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  margin-top: 1rem !important;
}

.selectStage {
  background-color: var(--darkBlue);
  color: var(--white);
  border-radius: 10px;
  width: 190px;
  height: 41px;
  font-size: 16px;
  font-family: Nunito;
}

.addPropText {
  font-size: 18px;
  font-family: Nunito;
  font-weight: 500;
  line-height: 24.55px;
  color: var(--darkBlue);
  padding-top: 17px
}

.selectStageContainer {
  text-align: right;
  margin-right: 2rem;

  .btn {
    background-color: var(--darkBlue) !important;
    border-radius: 10px;
    width: 190px;
    height: 41px;
    font-size: 16px;
    border-color: var(--darkBlue);
  }

  .btn:hover {
    background-color: var(--darkBlue);
  }

  .dropdown-menu.show {
    background-color: var(--darkBlue);
    border-radius: 0px;
    padding: 0px;

    .dropdown-item {
      padding: 10px 24px;
      color: var();
    }

    .dropdown-item:hover {
      color: var(--darkBlue);
      background-color: var(--white);
    }
  }
}


//add price modal
.shadow {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-form {
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
  background: var(--darkBlue);
  box-shadow: 3px 3px 10px var(--black);

  .add-price-form {
    width: 70rem;
    height: 100%;
    padding: 20px 50px;

    .price-close-btn {
      color: var(--white);
      font-size: 60px;
      font-weight: 100;
      margin-left: 56.5rem;
      cursor: pointer;
    }

    h1 {
      text-align: center;
      color: var(--white);
      font-size: 2rem;
      font-weight: 300;
      margin-top: -4rem;
    }

    form {
      display: grid;
      margin: 2.5rem;
      row-gap: 2rem;
      margin-top: 10%;

      .price-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9%;

        .add-price-btn {
          background-color: var(--white);
          border: 1px solid var(--white);
          border-radius: 0.5rem;
          padding: 6px 6px;
          color: var(--black);
          font-size: 17px;
          font-weight: 300;
          width: 17%;
        }
      }

      input {
        border-radius: 1.5rem;
        width: 89%;
        height: 5.5vh;
        border: 1px solid var(--white);
        padding-left: 20px;
        font-size: 0.8rem;
      }

      .add-price-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
      }
    }
  }
}

//add property modal

.property-form {
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
  background: var(--darkBlue);
  box-shadow: 3px 3px 10px var(--black);

  .add-property-form {
    width: 70rem;
    height: 100%;
    padding: 20px 50px;

    .property-close-btn {
      color: var(--white);
      font-size: 60px;
      font-weight: 100;
      margin-left: 56.5rem;
      cursor: pointer;
    }

    h1 {
      text-align: center;
      color: var(--white);
      font-size: 2rem;
      font-weight: 300;
      margin-top: -4rem;
    }

    form {
      display: grid;
      margin: 2.5rem;
      row-gap: 2rem;
      margin-top: 10%;

      .property-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9%;

        .add-property-btn {
          background-color: var(--white);
          border: 1px solid var(--white);
          border-radius: 0.5rem;
          padding: 6px 6px;
          color: var(--black);
          font-size: 17px;
          font-weight: 300;
          width: 17%;
        }
      }

      input {
        border-radius: 1.5rem;
        width: 89%;
        height: 5.5vh;
        border: 1px solid var(--white);
        padding-left: 20px;
        font-size: 0.8rem;
      }

      .add-property-column {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
      }

      .add-property-columnn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;

        input {
          width: 93%;
        }
      }

      .add-property-columns {
        input {
          width: 96%;
        }
      }
    }
  }


}

.editProperty {
  .modal-dialog.modal-lg {
    --bs-modal-width: 910px;
  }

  .row {
    padding-bottom: 1rem;
    padding-right: calc(var(--bs-gutter-x) * 0.8);
    padding-left: calc(var(--bs-gutter-x) * 0.8);
  }

  .edit-modal {
    background-color: var(--darkBlue);
    border: none;
    padding: 2rem;
  }

  .edit-modal form {
    padding: 1rem 2rem;
  }


  .inputBox {
    border-radius: 100px;
  }

  .button {
    border-radius: 10px;
  }
}

.width {
  width: 99%;
}

.fieldWidth {
  width: 22rem;
}

.btn-close {
  padding: 0px !important;
  background: transparent url("../../assets/Icons/close_button.png") center/1em auto no-repeat !important;
  font-size: 3rem !important;
}


.addProperty {
  .add-modal {
    background-color: var(--darkBlue);
  }

  .modal-dialog.modal-lg {
    --bs-modal-width: 910px;
  }

  .row {
    padding-bottom: 1rem;
    padding-right: calc(var(--bs-gutter-x) * 0.8);
    padding-left: calc(var(--bs-gutter-x) * 0.8);
  }

  .add-modal {
    background-color: var(--darkBlue);
    border: none;
    padding: 2rem;
  }

  .add-modal form {
    padding: 1rem 2rem;
  }

  .inputBox {
    border-radius: 100px;
  }

  .button {
    border-radius: 10px;
  }

  .btn-close {
    padding: 0px !important;
    background: transparent url("../../assets/Icons/close_button.png") center/1em auto no-repeat !important;
    font-size: 3rem !important;
  }
}

.no-record {
  font-size: larger;
  font-weight: 700;
  /* min-width: 68%; */
  width: max-content;
  padding: 145px 30px 0px 130px;
}

.form-control:disabled {
  cursor: not-allowed;
}

.propertyData {
  .modal-content {
    border: 25px solid var(--darkBlue);
    border-radius: 0px;
  }

  .row {
    margin-bottom: 4%;
  }

  .card {
    background-color: var(--titanWhite);
    border: 2px solid var(--darkBlue);
    border-radius: 0px;
    height: 35vh;
  }

  .btn-close {
    padding: 10px !important;
    background: transparent url("../../assets/X.svg") center/1em auto no-repeat !important;
    font-size: 1.5rem !important;
  }

  .property-modal {
    border: none;
  }

  .text-center .btn-close {
    margin-left: 80%;
  }

  .card-img,
  .card-img-top {
    width: 33%;
    margin: auto;
  }

  img.card-img-top {
    height: 50%;
  }

  .card-body {
    padding-top: 0px;
  }
}



.multi-item-carousel {
  .carousel-inner {
    >.item {
      transition: 500ms ease-in-out left;
    }

    .active {
      &.left {
        left: -33%;
      }

      &.right {
        left: 33%;
      }
    }

    .next {
      left: 33%;
    }

    .prev {
      left: -33%;
    }

    @media all and (transform-3d),
    (-webkit-transform-3d) {
      >.item {
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none !important;
      }
    }
  }

  .carouse-control {

    &.left,
    &.right {
      background-image: none;
    }
  }
}

// non-related styling:
body {
  background: #333;
  color: #ddd;
}

h1 {
  color: var(--white);
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px var(--black);
}

.property-button {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-bottom: 1rem;

  .arrow {
    border: 1px solid var(--darkBlue);
    border-radius: 22px;
    width: 25px;
    height: 25px;
    margin-left: 1%;

    img {
      align-items: center;
      display: flex;
      margin: auto;
      height: 100%;
      line-height: 10;
      margin-left: -5px;
    }
  }

  Button:hover {
    background-color: var(--darkBlue);
    color: var() !important;
  }
}

.no-record-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5rem;
  font-weight: 500;
}

//CSS for Input Field from @mui/material starts
.addProperty,
.editProperty {
  .MuiInputLabel-root {
    font-size: 18px !important;
    margin-top: -5px;
    color: var(--white);
  }

  .MuiOutlinedInput-input {
    padding: 0.67rem 0.2rem !important;
    color: var(--white);
  }

  .MuiInputLabel-root {
    font-size: 16px !important;
    color: var(--lightGrey) !important;
  }

  .MuiOutlinedInput-root {
    color: var(--white) !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 1px solid var(--white) !important;
    border-radius: 100px !important;
  }

  .MuiButton-outlinedPrimary {
    background-color: var(--white) !important;
    text-transform: capitalize !important;
    border-radius: 0.5rem !important;
    font-size: 1rem !important;
    color: var(--darkBlack) !important;
    font-weight: 300 !important;
    margin-top: 1.5rem !important;
  }

  .MuiOutlinedInput-input {
    padding: 11px 14px !important;
    color: var(--white);
  }

  .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: var(--white) !important;
  }
}

.user-type-display {
  position: absolute;
  right: 8%;
  text-align: end;
}


.property-button .arrow[disabled] {
  cursor: not-allowed !important;
}

.seller-name {
  white-space: nowrap;
  width: 95px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  margin-top: 20px;
}

.hover-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: var(--white);
  border: 1px solid var(--frenchBlue);
  width: 220px;
  z-index: 10;
  word-wrap: break-word;
}

.hover-text:hover+.hover-content {
  display: block;
}
  //CSS for Input Field from @mui/material ends
  
  .editIcons {
    width: 1.7rem !important;
    cursor: pointer;
  }
  .dropDown{
    margin-right: 1rem;
  }
  .button-class{
    background-color: var(--darkBlue) !important;
  }

//CSS for Input Field from @mui/material ends

.editIcons {
  width: 1.7rem !important;
  cursor: pointer;
}

.dropDown {
  margin-right: 1rem;
}
.marquee p {
  display: inline-block;
  animation: marquee 10s linear infinite;
}
  .delete-icon {
    position: absolute;
    top: 1%;
    left: 0.1%;
    cursor: pointer;
}
.customWidth {
  width: 94% !important;
  margin-left: 1.3rem !important;
}

.property-table {
  width: 100%;
  border-collapse: collapse;
}

.property-table td {
  padding: 0.5rem;
  text-align: left;
}

.property-table .labelArea {
  text-align: right;
  white-space: nowrap;
  width: 30%;
}

.property-table td:last-child {
  text-align: left;
  width: 70%;
  color: var(--darkBlack);
}


