.modalWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--var(--black));
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

    .modalContainer{
        border: 2px solid var(--black);
        border-radius: 5px;
        width: 50%;
        height: 50%;
        background-color: var(--white);

        .modalHead{
            height: 20%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .modalBody{
            height: 60%;
            padding: 30px 10px 10px 10px;
            .selectUser{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
            }
            .modalText{
                font-size: 1rem;
                text-align: center;
            }
        }
        .modalFooter{
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px;
            .button{
                padding-right: 10px;
            }
        }
    }
}