:root {
  //COLORS VARIABLES

    --black: #00000006;
    --darkBlack:#212529;
    --lightBlack:#999999;
    --green: #21D81E;
    --lightGrey:#a5a5a5;
    --red: #FA0000;
    --white: #FFFFFF;
    --offWhite: #F5F5F5;
    --darkBlue:#0062ae;
    --lightBlue: #B8E5FA;
    --darkGray: #4b4b4b;
    --gray: #808080;
    --cyanBlue: #0474BD;
    --paleSky:#7e7e7e;
    --ghostWhite:#F7F8FF;
    --desertStorm:#F6F7F7;
    --linkWater:#D3E6FD;
    --beanRed:#eb5c5c;
    --seaShell:#efefee;
    --softPeach:#EEEEEF;
    --pastelGrey:#ccc;
    --aliceBlue:#f8feff;
    --paleGrey:#fffeff;
    --blueEvy:#2E8DCD;
    --lavenderMist:#e2e9fd;
    --mintCream:#f5fdfe;
    --titanWhite:#E9F1FA;
    --greenishYellow:#a5df44;
    --orangeYellow:#d1a41c;
    --darkGreen: #008000;

    --tropicalBlue:rgba(184, 229, 250, 0.23);
    --scienceBlue:rgba(4, 116, 189, 0.12);
    --frenchBlue:rgba(4, 116, 189, 0.4);
    --lighter-shadow:rgba(0, 0, 0, 0.1);
    --light-shadow:rgba(0, 0, 0, 0.3);
    --dark-shadow:rgba(0, 0, 0, 0.5);
    --darker-shadow:rgba(0, 0, 0, 0.8);
    --footer-grad1:rgba(10, 10, 11, 1);
    --footer-grad2:rgba(15, 37, 56, 1);

//FONTS VARIABLES
  --h1-font: "Default";
  --h1-size: 6rem;
  --h1-weight: 900;
  --h2-font: 'Poppins', sans-serif;
  --h2-size: 3rem;
  --h2-weight: 600;
  --p-font: 'Poppins', sans-serif;
  --p-size: 1rem;
  --p-weight: 400;
    
  }