.fee-container{
    .backout-heading{
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        text-align: center;
        margin: 2rem;
    }

    .backout-area{
        .form-label{
            margin-left: 4rem;
            font-weight: 300;
        }
        .form-control{
            width: 68%;
            margin-left: 5rem;
        }
            
    
        }

        .amount-area{
            display: flex;
            margin-left: 4rem;
            margin-top: 4rem;

            .form-control{
                margin-left: 4rem;
                border-radius: 2rem;
                padding: 1rem;
                border: none;
                background-color: var(--aliceBlue);
                margin-top: -0.5rem;
                width: 15%;

            }
 
        }

        .reason-area{
            margin-left: 4rem;
            margin-top: 3rem;

            .form-control{
                width: 94%;
            height: 18vh;
            border: 2px solid var(--linkWater);
            background:var(--aliceBlue);
            }

            .form-check{
                margin-top: 1rem;
                font-weight: 300;
            }

        }

        .backout-btn{
            background-color: var(--darkBlue);
            border-radius: 0.4rem;
            color: var(--white);
            border: 0;
            padding: 0.6rem 3rem;
            cursor: pointer;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
}