.doc-card{
    flex-direction: column;
    display: flex;
    height: 262px;
    width: 203px;
    border: 1.5px solid var(--darkBlue);
    box-shadow: 1px 1px 3px var(--lightGrey);
    padding: 3px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.card-icons {
    cursor: pointer;
      height: 100px;
      width: 100px;
    
  }