.offer-button {
    text-align: center;

    .button {
        background-color: var(--darkBlue);
        border-radius: 0.4rem;
        color: var(--white);
        border: 0;
        width: 7%;
        cursor: pointer;
    }

    .button:hover {
        background-color: var(--darkBlue);
    }
}