.dashboard-content {
  h2 {
    color: var(--darkBlue);
    padding-top: 2.5rem;
    font-size: 1.5rem;
  }
  .content-chart {
    margin: 1.5rem 0.5rem;
    border: 5px solid var(--frenchBlue);
    border-radius: 12px;
    width: 61rem;
    height: 30rem;
    background-color: var(--white);
    padding-left: 3.6rem;
    padding-right: 1rem;

    .date-picker {
      margin-left: 68%;
      margin-top: 1rem;
    }

    .chart-box {
      width: 52rem;
      padding-bottom: 1.5rem;
      padding-top: -2rem;

      p {
        font-size: 12px;
      }
    }
  }
  .document-chart {
    margin: 1.5rem 1rem;
    border: 5px solid var(--frenchBlue);
    border-radius: 12px;
    width: 61rem;
    height: 30rem;
    background-color: var(--white);
    padding-left: 3.6rem;
    padding-right: 1rem;
    margin-left: -3.7rem;
    .date-picker {
      margin-left: 68%;
      margin-top: 1rem;
    }
  }
}

.box-area {
  border: 5px solid var(--frenchBlue);
  border-radius: 10px;
  width: 14rem;
  height: 62rem;
  background-color: var(--white);
  float: right;
  margin-top: -31.4rem;
}
