.agreement-btn{
    background-color: var(--darkBlue);
    border-radius: 0.4rem;
    color: var(--white);
    border: 0;
    height: 2.8rem;
    margin-left: 5rem;
    position: absolute;
    left: 48%;
    cursor: pointer;
}